.record_birthday{
  display: inline;
  width:100px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.record{
  width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.btn_record{
  width: 100px;
}

.btn_center{
  width:100px;
  margin-left: auto;
  margin-right: auto;
}

.record_picture{
  float: left;
}

.record_h2{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-style: italic;
}

.record_birthday{
  width: 110px;
}

.mem_search{
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.info{
    margin-left: 250px;
}

.member_picture{
  float: left;  
}

#mem_info{
  width:500px;
}

.table_pay_monthly{
  width:800px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

#mem_act_record{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.act_caption{
  font-size: 18px;
}

.table_del_session_btn{
  border: 0px;

}

.keep_right{
  float: right;
}

.table_border_alone{
  border:1px solid #DDD;
}

.table_border_alone td{
  border:none;
}

.textfield_mem_uid{
  height: 33px;
  width: 400px;
}

#act_make{
  width: 1000px;
}

.act_make_detail{
  width: 500px;
  float: right;
  margin-right: 200px;

}

#hidden{
  display:none;
}

.all_header{
  height:45px;
  background-color: #969696;
}

.btn_header{
  float: right;
  margin-right: 50px;
}

#reg_logo{
  height:70px;
  margin-top:2px;
  margin-left: 40px;
  float: left; 

}

.header_li{
  margin-top: 5px;
  height: 45px;
  font-size: 20px;
}

#header_nav{
  margin-bottom: 20px;
}

.nav_header{
  margin-left: 200px;
  margin-right: 200px;
}

.table_border_alone{ 
  border:1px solid #DDD;
}

.table_border_alone td{
  border:none;
}

#profile2_mem{
  width:500px;
}